.left-pane {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 60px;
  background-color: #fff;
  z-index: 100;

  &__menu-button {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    padding: 0;
    border: none;
    outline: 0;
    width: 26px;
    height: 16px;
    background-image: url('./assets/hamburger.svg');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
  }

  &__quest-button {
    display: block;
    margin: 85vh auto;
    padding: 0;
    border: none;
    outline: 0;
    width: 24px;
    height: 24px;
    background-image: url('./assets/question.svg');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
  }
}